{% extends 'dashboard/base.html' %}
{% block body %}
    <div class="card-body">
        <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Change Password</h1>

            </div>

            <div class="row mb-3">
                {% if errors %}
                    <div class="container alert alert-danger">

                        {{ errors }}
                    </div>
                {% endif %}
                <!-- Earnings (Monthly) Card Example -->
                <form method="post" class="ml-4">

                    {% csrf_token %}
                    Old Password:<input type="text" name="old_password" class="form-control" required><br><br>
                    new Password:<input type="text" name="password" class="form-control" required><br><br>
                    Re-enter new Password:<input type="text" class="form-control" name="password2" required><br><br>
                    <input type="submit">
                </form>
                <!-- Earnings (Annual) Card Example -->

            </div>
            <!---Container Fluid-->

        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}