{% extends 'dashboard/base.html' %}
{% block title %} User List{% endblock %}
{% block pagetitle %}User List{% endblock %}
{% block body %}
    <style>
        .dataTable-sorter::after, .dataTable-sorter::before {

            visibility: hidden;
        }
    </style>
    <div class="card-body">

        <table class="table table-responsive" id="table1">
            <thead style="width: 100%;">
            <tr>
                <th>SN</th>
                <th>User</th>
                <th>Email</th>
                <th>Email_Verified</th>
                <th>Action</th>
                <th>Action</th>


            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_email_verified }}</td>
                    <td><a href="/mychat/view/{{ user.username }}" class="btn btn-success"> Chat </a></td>
                    <td>{% if user.is_active %}<a href="/dashboard/block/user/{{ user.username }}" class="btn btn-success"> Block User </a>{% else %}<a href="/dashboard/unblock/user/{{ user.username }}" class="btn btn-info"> UnBlock User </a>{% endif %}</td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
        <style>
            @media screen and (min-width: 250px) {
                .dataTable-input {
                    margin-top: 5px;
                    margin-right: -30px;
                }
            }
        </style>
    </div>
{% endblock %}